.SidebarArea{
    width: 20%;
    background: #15CDCA;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    border-right: 1px solid black;
}

.vsplogo{
    width: 80%;
    height: 100%;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background: rgb(248,238,0) !important;
}

.css-1nxmd3h-MuiListItem-root:active{
    background-color: red;
}

.css-1p823my-MuiListItem-root:active{
    background-color: red;
}
.css-1l8j5k8 {
    background-color: #f8ee00 !important;
}